li{
    list-style-type: none;
  }
a{
    text-decoration: none;
  }  

nav{
    width: 100vw;
  }
  nav{
    width: 100vw;
    background-color: #b67e06e0;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  
  body{
    margin: 0;
  }

  ul{
    margin: 0;
    padding: 0;
    
    /*this option by default dispose the elements in a row (flex-direction: row)*/
    display: flex;
  }

  li{
    list-style-type: none;  
    
    /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
    margin: 0 3vw;
  }

  li{
    list-style-type: none;  
    margin: 0 2vw;
    /* our font-size will be 3% of the height of the viewport */
    font-size: 2vh;
  }
  a{
    text-decoration: none;
    
    /*below I changed the color*/
    color: rgb(255, 255, 255);
    /*I added some padding*/
    padding: 1vw;
    /*also changed the font family but that's totally irrelevant*/
    font-family: monospace;
  }
  a:hover{
    background-color: #815a05;
  }
  /*change the layout of the navigation bar for all the screens 
that have a width less or equal than 500px*/

@media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    ul{
      flex-direction: column;
    }
    
    /* deletes margin on top or bottom of the a tag*/
    li{
      margin: 0;
    }
   /* makes sure that the a tag will take the entire screen*/
    a{
      display: block;
    }